{% extends "form.html" %}

{% block form_tag %}
<form action="/users/signup/" method="post">
{% endblock form_tag %}

{% block form_fields %}
<div class="fieldWrapper">
    {{ form.fullname.errors }}
    <label for="id_fullname">Full name:</label>
    {{ form.fullname }}
</div>

<div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="id_email">Email:</label>
    {{ form.email }}
</div>

<div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="id_password">Password:</label>
    {{ form.password }}
</div>
<div class="fieldWrapper">
    {{ form.URL.errors }}
    <label for="id_URL">URL:</label>
    {{ form.URL }}
</div>

{% endblock form_fields %}
	
{% block form_submit_tag %}
<input type="submit" value="Signup" />
{% endblock form_submit_tag %}