{% extends "form.html" %}
{% block form_tag %}

<form action="/management/change_password/{{token}}/" method="post">
{% endblock form_tag %}
{% block form_fields %}
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="id_password">Password:</label>
        {{ form.password }}
    </div>
	<div class="fieldWrapper">
        {{ form.password_confirmation.errors }}
        <label for="id_password_confirmation">Password confirmation:</label>
        {{ form.password_confirmation }}
    </div>
{% endblock form_fields %}
{% block form_submit_tag %}
	<input type="submit" value="Change password" />
{% endblock form_submit_tag %}

