{% extends "base_html.html" %}

{% block head %}
{% endblock head %}

{% block content %}
    
	<a href='http://siteanalytics.compete.com/{{ compete_url }}/?metric=uv'>
		<img src='http://grapher.compete.com/{{ compete_url }}_uv_310.png' style="border:0px"/>
	</a>
	<br />
	Name: {{ name|striptags }} <br />
	Description: {{ description|striptags }} <br />
	url: {{ url }} 
	<br />
	<img src='{{ favicon_url }}' />
	<br />
	<br />
	<img style="width:304px;height:195px" src='{{ screenshot_url }}' />
{% endblock content %}